{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About ShopSphere</h1>
            <p class="lead fw-normal text-white-50 mb-0"></p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/><br/>
                <p align="justify">
                    Welcome to <strong>ShopSphere</strong>, your universe of unmatched deals and seamless shopping experiences. Here’s a quick rundown of what ShopSphere offers:
                </p>

                <ul align="justify">
                    <li><strong>User Authentication</strong>
                        <ul>
                            <li><strong>Sign Up & Login:</strong> Secure user registration and login system.</li>
                            <li><strong>Password Update:</strong> Easy password update options for users.</li>
                        </ul>
                    </li>

                    <li><strong>Product Management</strong>
                        <ul>
                            <li><strong>Product Listings:</strong> Browse a vast collection of products across various categories.</li>

                           
                            <li><strong>Search & Filter:</strong> search and filtering options to find products quickly.</li>
                        </ul>
                    </li>

                    <li><strong>Shopping Cart</strong>
                        <ul>
                            <li><strong>Add to Cart:</strong> Simple functionality to add items to your cart.</li>
                            <li><strong>Cart Management:</strong> View and manage cart items, update quantities, and remove products.</li>
                            
                        </ul>
                    </li>

                    <li><strong>Checkout Process</strong>
                        <ul>
                            <li><strong>Order Summary:</strong> Detailed order summary with edit options for billing, items, payment method before finalizing purchases.</li>
                            
                        </ul>
                    </li>

                    <li><strong>User Dashboard</strong>
                        <ul>
                            <li><strong>Profile Management:</strong> Update personal information, addresses.</li>
                        </ul>
                    </li>

                    <li><strong>Admin Panel</strong>
                        <ul>
                            <li><strong>User Management:</strong> Admin controls for managing users.</li>
                            <li><strong>Product Management:</strong> Admin functionalities for adding, editing, and removing products, put sale on products, categories.</li>
                            <li><strong>Order Management:</strong> Process and manage customer orders efficiently. Admin can manage shipped and unshipped orders from frontend also</li>


                            
                        </ul>
                    </li>
                </ul>

                
                </p>
                <br/><br/>
            </div>
        </center>
    </div>
</div>

{% endblock %}
